<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Logo -->
        <a class="c-p" href="#">
            <strong class="logo">MovieDB</strong>
        </a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">

            </ul>

            <!-- Right -->
            <div class="form-inline">
                <div class="md-form my-0">
                    <input [(ngModel)]="searchText" class="form-control mr-sm-2" type="text" placeholder="Enter a TV Show or Movie" aria-label="Search">
                </div>
                <button type="button" class="search-btn" name="button" (click)="onSubmit()" [disabled]="searchText === ''">Search</button>
            </div>
        </div>

    </div>
</nav>
