<div *ngIf='isLoading'>
    <app-loading-spinner></app-loading-spinner>
</div>

<section class="text-center mb-4" style="position: relative; top: 60px;" *ngIf="!isLoading">

    <!--Grid row-->
    <div class="row wow fadeIn">


        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let movie of casts;">

            <!--Card-->
            <div class="card">

                <!--Card image-->
                <a routerLink="/movies/{{movie.id}}" class="view overlay">
                    <img [src]="imageBasePath + movie.poster_path" class="card-img-top" alt="Movie Poster">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </a>
                <!--Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Category & Title-->
                    <div class="grey-text">
                        <h5>{{ movie.vote_average }} Star(s)</h5>
                    </div>
                    <h2>
                        <strong>
                  <div class="dark-grey-text">{{ movie.title }}

                  </div>
                </strong>
                    </h2>
                    <p class="font-weight-bold blue-text">
                        {{ movie.vote_count}} Vote(s)
                    </p>

                </div>
                <!--Card content-->

            </div>
            <!--Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
</section>
